/* src/App.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-grid {
  display: grid;
  grid-template-rows: 80% 20%;
  height: 100vh;
}

.top-row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.bottom-row {
  background-color: #f2f2f2;
  text-align: center;
  padding: 1rem;
}
